.signup{
    width: 100%;
    height: 100vh;
}

.column{
    height: 100vh;
    width: 100%;
}

.sign-up-heading{
    font-size: 100px;
    color: rgb(255, 38, 0);
}



.btn-signup{
    background-color: rgb(255, 49, 49);
    border: none;
    outline: none;
}