.user-png{
    height: 50px;
    width: 50px;
}

.navbar-brand{
    color:rgb(255, 0, 0) !important;
    font-size:25px;
    font-weight: bold;
}

.btn-nav{
    background-color: red !important;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
}

