.todo{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: relative;
}

.todo-inputs{
    border: none;
    outline: none;
}

.todo-input-div{
    border-radius: 5px;
    box-shadow: rgb(73, 73, 73) 0px 5px 15px;
    border: 1px solid black;
}

#textarea{
    display: none;
    border-radius: 5px;
}

.todo-card{
    border: 1px solid black;
}

.todo-card-p{
    text-align: justify;
    text-justify:inter-word;

     white-space: normal;      
    word-break: break-word;
}


.card-icons{
    font-size: 20px;
    cursor: pointer;
}

.del{
    color: red;
}

.card-icons-head{
    cursor: pointer;
    transition: all 0.3s;
}

.card-icons-head:hover{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}


.todo-update{
    width: 100%;
    height: 100vh;
    position: absolute;
    /* position:fixed; */
    top: 80px;
    left: 0px;
    display: none;
    background-color: antiquewhite;
}

.update{
    width: 100%;
    height: 100%;
}